<div class="row">
	<div class="page-title">
		Contact Informations
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<p class="product_description">
      Any question? Just chant Hare Krishna <br> & be <span class="product_title">H A P P Y!</span>
		</p>
    <p class="product_description">
      If you need some help or good advice, then please call me on 07936 66 21 00
    </p>

    <p class="product_title">
      Or just send a message!
    </p>
	</div>
</div>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
  <div class="col-md-4 col-md-offset-4  product_description">
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>      
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
    </div>
    <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>
<div class="main"></div>